trigger:
- main

pool:
  name: Default

steps:

# ================= API Gateway =================

- script: mvn test
  workingDirectory: api-gateway
  displayName: API Gateway - Run Tests

- task: Docker@2
  displayName: API Gateway - Build & Push
  inputs:
    command: buildAndPush
    containerRegistry: dockerhub
    repository: prashasthnaik/apigateway
    dockerfile: api-gateway/Dockerfile
    tags: latest


# ================= Eureka =================

- script: mvn test
  workingDirectory: eureka-server
  displayName: Eureka - Run Tests

- task: Docker@2
  displayName: Eureka - Build & Push
  inputs:
    command: buildAndPush
    containerRegistry: dockerhub
    repository: prashasthnaik/eureka
    dockerfile: eureka-server/Dockerfile
    tags: latest


# ================= Frontend =================

- script: |
    npm install
    npm test
  workingDirectory: frontend
  displayName: Frontend - Build & Test

- task: Docker@2
  displayName: Frontend - Build & Push
  inputs:
    command: buildAndPush
    containerRegistry: dockerhub
    repository: prashasthnaik/frontend
    dockerfile: frontend/Dockerfile
    tags: latest


# ================= Order Service =================

- script: mvn test
  workingDirectory: order-service
  displayName: Order Service - Run Tests

- task: Docker@2
  displayName: Order Service - Build & Push
  inputs:
    command: buildAndPush
    containerRegistry: dockerhub
    repository: prashasthnaik/order
    dockerfile: order-service/Dockerfile
    tags: latest


# ================= Product Service =================

- script: mvn test
  workingDirectory: product-service
  displayName: Product Service - Run Tests

- task: Docker@2
  displayName: Product Service - Build & Push
  inputs:
    command: buildAndPush
    containerRegistry: dockerhub
    repository: prashasthnaik/product
    dockerfile: product-service/Dockerfile
    tags: latest


# ================= User Service =================

- script: mvn test
  workingDirectory: user-service
  displayName: User Service - Run Tests

- task: Docker@2
  displayName: User Service - Build & Push
  inputs:
    command: buildAndPush
    containerRegistry: dockerhub
    repository: prashasthnaik/user
    dockerfile: user-service/Dockerfile
    tags: latest
