trigger:
- main

pool:
  name: Default

steps:

# ---- API Gateway Tests ----
- script: |
    cd apigateway
    mvn test

# ---- Build & Push API Gateway ----
- task: Docker@2
  inputs:
    command: buildAndPush
    repository: prashasthnaik/apigateway
    dockerfile: apigateway/Dockerfile
    tags: latest


# ---- Eureka Tests ----
- script: |
    cd eureka
    mvn test

# ---- Build & Push Eureka ----
- task: Docker@2
  inputs:
    command: buildAndPush
    repository: prashasthnaik/eureka
    dockerfile: eureka/Dockerfile
    tags: latest


# ---- Frontend Build Test ----
- script: |
    cd frontend
    npm install
    npm test


# ---- Build & Push Frontend ----
- task: Docker@2
  inputs:
    command: buildAndPush
    repository: prashasthnaik/frontend
    dockerfile: frontend/Dockerfile
    tags: latest


# ---- Order Service ----
- script: |
    cd order-service
    mvn test

- task: Docker@2
  inputs:
    command: buildAndPush
    repository: prashasthnaik/order
    dockerfile: order-service/Dockerfile
    tags: latest


# ---- Product Service ----
- script: |
    cd product-service
    mvn test

- task: Docker@2
  inputs:
    command: buildAndPush
    repository: prashasthnaik/product
    dockerfile: product-service/Dockerfile
    tags: latest


# ---- User Service ----
- script: |
    cd user-service
    mvn test

- task: Docker@2
  inputs:
    command: buildAndPush
    repository: prashasthnaik/user
    dockerfile: user-service/Dockerfile
    tags: latest
